
<div class="w-full">
    <div class="relative border-2 w-full my-3 px-3 pt-3 pb-5">
        <div class="flex justify-between">
            <h1 class="text-xl font-medium">
                <%= "#{@post.title} by #{@author.name}" %>
            </h1>
            <div class="text-xl font-medium">
                <small>
                    <%= "comments: #{@post.comments_counter || 0}" %>
                </small>
                <small class="ml-2">
                    <%= "Likes: #{@post.likes_counter || 0}" %>
                </small>
            </div>
        </div>
        <p class="mt-5">
            <%= @post.text %>
        </p>
        <%= form_with model: @like, url: user_post_likes_path(user_id: current_user.id, post_id: @post.id) do |form| %>
          <div>
            <%= form.hidden_field :author_id, value: current_user.id %>
          </div>
          <div>
            <%= form.hidden_field :post_id, value: @post.id %>
          </div>
          <%= form.submit 'Like' %>
        <% end %>
    </div>

    <div class="post-comment">
      <%= form_with model: @comment, url: "/users/#{current_user.id}/posts/#{@post.id}/comments", scope: :comment do |form| %>
        <div>
          <%= form.hidden_field :author_id, value: current_user.id %>
        </div>
        <div>
          <%= form.hidden_field :post_id, value: @post.id %>
        </div>
        <div>
          <%= form.label :text %>
          <%= form.text_area :text %>
        </div>
        <%= form.submit 'Comment' %>
      <% end %>
    </div>
    <%= render partial: "partials/commentCard", locals:{ comments: @comments } %>
</div>

